@charset "UTF-8";

/* Todas as demais mídias */

/* Typical device breakpoints 
Pequenas telas até 600px
Celulares de 600px até 768px    
Tablet de 768px até 992px
Desktop 992px até 1200px
Grandes telas acima de 1200px
*/



@media print {
    body{
        background: url(../imagem/back-print.jpg); 
    }
    img#phone{display: none;}
    img#Tablet{display: none;}
    img#print{display: block;}
    img#pc{display:none;}
    mg#tv{display: none;}
}

@media  screen and (min-width: 768px ) and (max-width: 992px) {
    body{
        background: url(../imagem/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#Tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    mg#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background: url(../imagem/back-pc.jpg);
    }
    img#phone{display: none;}
    img#Tablet{display: none;}
    img#print{display: none;}
    img#pc{display:block;}
    mg#tv{display: none;}
    
}

@media screen and (min-width: 1200px) {
    body{
        background: url(../imagem/back-tv.jpg);
    }

    img#phone{display: none;}
    img#Tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    mg#tv{display: block;}
}
